<app-navbar></app-navbar>

<div class="mt-10 sm:mt-0 ">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 " id="section1">

        <div class="mt-5 md:mt-0 md:col-span-2">
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">

                    <p class="mb-8" id="span-section1">Modificar la fecha de envío</p>

                    <div class="grid grid-cols-6 gap-6">

                        <div class="col-span-6 sm:col-span-3">

                            <label for="first_name" class="block text-sm font-medium text-gray-700">Fecha:</label>
                            <input 
                                autocomplete="given-name"
                                class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-6 sm:col-span-3">

                            <label for="first_name" class="block text-sm font-medium text-gray-700">Datos fechas</label>
<!--                             <p *ngFor="let date of dates">
                                {{date.date}}
                            </p> -->

                        </div>

            

                    </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit" (click)="getId()"
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-black bg-gray-100 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Modify Dates
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



