@media screen and (max-width:800px){

    .container {
        width: 80%;
    }

    form {
        margin-top: 100px;
    }

    a, button {
        font-size: 19px;
    }
}

@media screen and (max-width:639px){

    .pato {
        display: none;
    }
}