<div class="user-form">
    <p>Add new User:</p>
    <ul class="create-form">
        <li>
            <label>Name: </label>
            <input type="text" id="name" [(ngModel)]="newUser.name">
        </li>
        <li>
            <label>Email: </label>
            <input type="text" id="email" [(ngModel)]="newUser.email">
        </li>
        <li>
            <label>Role: </label>
            <input type="text" id="role" [(ngModel)]="newUser.role">
        </li>
        <li>
            <label>Password: </label>
            <input type="text" id="password" [(ngModel)]="newUser.password">
        </li>

        <li>
            <p class="" *ngFor="let tag of tags">

                <input type="checkbox" [value]="tag.name" [(ngModel)]="tag.checked" />
                <label> {{tag.name}}</label><br>
            </p>
        </li>
        <li>

            <input class="btn-create" (click)="addUser()" class="submit" type="submit" value="Submit">
        </li>
    </ul>

</div>


<div class="user-list">

    <div class="drop">
        <div class="drop__container" id="drop-items">
            <p>Users list!</p>

            <div class="drop__card">
                <ul>
                    <p class="" *ngFor="let user of users" routerLink="/users">

                        <li>
                            <span>Nombre: {{user.name}}</span>
                            <input class="input-list" type="text" *ngIf="user.editable" [(ngModel)]="user.name" /><br>
                            <span>Correo: {{user.email}}</span>
                            <input class="input-list" type="text" *ngIf="user.editable" [(ngModel)]="user.email" /><br>
                            <span>Rol: {{user.role}}</span>
                            <input class="input-list" type="text" *ngIf="user.editable" [(ngModel)]="user.role" /><br>
                            <span>Tags: </span>
                            <p class="" *ngFor="let tag of user.tag">
                                <label>- {{tag.name}}</label><br>
                                <input type="checkbox" *ngIf="user.editable" [(ngModel)]="tag.checked" /><br>
                            </p>

                            <button class="btn-delete" (click)="deleteUser(user._id)">Delete</button>
                            <button class="btn-delete" *ngIf="!user.editable" (click)="editState(user)">Update</button>
                            <button class="btn-delete" *ngIf="user.editable" (click)="updateUser(user)">OK</button>
                            <hr>

                        </li>

                    </p>
                </ul>

            </div>

        </div>
    </div>