
.container {
    width: 50%;
    padding-top: 100px;
}

.tag-container {
    background-color: #ffffffb5;
}

h5 {
    font-size: 16px;
}
.tag-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tag-list-db {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    padding: 5px;
}

.check {
    margin-right: 7px;
}

.btn {
    border: 1px solid orange;
    padding: 8px;
    float: right;
    margin: 5px;
}

/* Responsive */

@media screen and (max-width:500px){

    .container {
        padding: 50px 0;
    }

    .sub-container {
        border-radius: 0.5rem;
    }

    form {
        margin-top: 100px;
    }
}

@media screen and (max-width:800px){

    .container {
        width: 80%;
    }

    form {
        margin-top: 100px;
    }
}

