
.container {
    width: 50%;
    padding-top: 100px;
}

.tag-container {
    background-color: #ffffffb5;
}

h5 {
    font-size: 16px;
}
.tag-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tag-list-db {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    padding: 5px;
}

.check {
    margin-right: 7px;
}

.btn {
    border: 1px solid orange;
    padding: 8px;
    float: right;
    margin: 5px;
}
