<div class="background-container">
  <div class="container">
      <div class="sub-container">
          <form class="register">
              <p class="title">Registro:</p>
              <input [(ngModel)]="newUser.name" type="text" placeholder="Username" name="username" autofocus/>
              <!-- <i class="fa fa-user"></i> -->
              <input [(ngModel)]="newUser.email" type="email" placeholder="email" name="email" />
              <input [(ngModel)]="newUser.password" type="password" placeholder="Contraseña" name="password" />
              <!-- <i class="fa fa-key"></i> -->
              <div class="list">
                <h4>Elige las categorías que te interesen:</h4>
                  <ul class="list-group" *ngFor="let tag of tags">
                      <li class="list-group-item">
                        <input #checkboxes class="form-check-input me-1" type="checkbox" [value]="tag.name" (change)="setTag(tag)" [(ngModel)]="tag.checked" [name]="tag.name">
                        <label>{{tag.name}}</label>
                      </li>
                  </ul>
              </div>             
              <button (click)="register()" routerLink="home-user" type="button" class="btn" >
                <i class="spinner"></i>
                <span class="state">Registrarse</span>
              </button>
            </form>
      </div>    
      <footer>Si ya tienes una cuenta<a class="login" routerLink="/login">Log in</a></footer>
  </div>
</div>
