<div class="super-container">
  <div class="container">
    <div class="sub-container">
        <h2>Registrarse:</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
            <input [(ngModel)]="newUser.name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="escribe un nombre de usuario">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input [(ngModel)]="newUser.email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
            <input [(ngModel)]="newUser.password" type="text" class="form-control" id="exampleFormControlInput1" placeholder="escribe una contraseña">
        </div>
    </div>
</div>

<div class="list">
  <h4>Elige las categorías que te interesen:</h4>
    <ul class="list-group" *ngFor="let tag of tags">
        <li class="list-group-item">
          <input #checkboxes class="form-check-input me-1" type="checkbox" [value]="tag.name" (change)="setTag(tag)">
          <label>{{tag.name}}</label>
        </li>
      </ul>
      <div>
        <button (click)="register()" type="button" class="btn btn-info">Registrarse</button>
      </div>  
  </div>
</div>