body{
    font-family: sans-serif;
    background: #ff5f6d26;
    background: linear-gradient(to right, #ffc37199, #ff5f6d38);
}  

.bt-1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bg-white {
    background-color: #ffffffb5!important;
  }