body{
    font-family: sans-serif;
    background: #ff5f6d26;
    background: linear-gradient(to right, #ffc37199, #ff5f6d38);
}  

.bt-1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bg-white {
    background-color: #ffffffb5!important;
  }

  .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: #ff81007a;
}

.text-white {
    color: #000;
  }
  
  .bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: aliceblue;
  }

  @media screen and (max-width: 800px) {
    #title-1{
      margin-top: 35px;
      margin-bottom: 35px;
    }

    #first-charts{
      flex-direction: column;
    }

    #first-charts canvas{
      margin: auto;
    }
  }
  