body{
    font-family: sans-serif;
    background: #ff5f6d26;
    background: linear-gradient(to right, #ffc37199, #ff5f6d38);
}  

.bt-1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bg-white {
    background-color: #ffffffb5!important;
  }

  .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: #ff81007a;
}

.text-white {
    color: #000;
  }
  
  .bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: aliceblue;
  }

  @media screen and (max-width: 800px) {
    #title-1{
      margin-top: 35px;
      margin-bottom: 35px;
    }

    #first-charts{
      display: block; 
      margin-left: 10px;
      margin-right: 10px;
    }


    #chart1{
      margin: 1px !important;
      margin-bottom: 30px !important;
    }

    #chart2{
      margin: 1px !important;
    }

    #chart3{
      margin: 10px;
    }

    #second-title{
      margin: 10px;
      margin-bottom: 60px;
    }

  }
  
