/* .background-container {
    margin: 0;
    position: relative;
    height: 100vh;
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
} */

/* .background-container {
    margin: 0;
    position: relative;
    height: 100vh;
    font-family: sans-serif;
    background: #ff5f6d26;
    background: linear-gradient(to right, #ffc37199, #ff5f6d38);
} */

.container {
    width: 30%;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
}

.img-container {
    text-align: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
    padding: 5px;
    margin-top: 10px;
}

h1 {
    font-size: 25px;
    padding: 5px;
}

img {
    width: 25%;
}

.btn {
    border: 1px solid orange;
    padding: 8px;
    margin: 20px 5px 5px 5px;
}