.background-container {
    margin: 0;
    position: relative;
    height: 100vh;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 50%;
    margin-top: 100px;
}

h5 {
    font-size: 16px;
}

li {
    padding: 5px;
}

.check {
    margin-right: 7px;
}

.btn {
    border: 1px solid orange;
    padding: 8px;
    float: right;
    margin: 5px;
}