body{
  font-family: sans-serif;
  background: #ff5f6d26;
  background: linear-gradient(to right, #ffc37199, #ff5f6d38);
}  

#section1{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#section2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 90px;

}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: #ff81007a;
}


.bg-white {
  background-color: #ffffffb5 !important;
}


@media screen and (max-width: 800px) {
  #section1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


