<div class="container py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <div class="flex -space-x-2 overflow-hidden">
            <img class="inline-block h-22 w-22 rounded-full ring-2 ring-white" src="../../../assets/img/avatar-masculino.png" alt="">
        </div>
                    
        <h1>{{name}}</h1>
        <ul>
            <li>Email: {{email}}</li>
            <li>Rol: {{role}}</li> 
        </ul>
        <div>
            <button class="btn">Eliminar</button>
            <button class="btn">Editar</button>
        </div>
    </div>
</div>
    
