.background-container {
    margin: 0;
    position: relative;
    height: 100vh;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 30%;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
}

.img-container {
    text-align: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

li {
    padding: 5px;
    margin-top: 10px;
}

h1 {
    font-size: 25px;
    padding: 5px;
}

img {
    width: 25%;
}

.btn {
    border: 1px solid orange;
    padding: 8px;
    margin: 20px 5px 5px 5px;
}