<app-navbar></app-navbar>
<div class="news-form">
    <p>Add new news:</p>
    <ul class="create-form">
        <li>
            <label>Titulo: </label>
            <input type="text" id="name" [(ngModel)]="newNew.title">
        </li>
        <li>
            <label>Body: </label>
            <input type="text" id="email" [(ngModel)]="newNew.body">
        </li>
        <li>
            <label>Link: </label>
            <input type="text" id="role" [(ngModel)]="newNew.link">
        </li>
        <li>
            <p class="" *ngFor="let tag of tags">

                <input type="checkbox" [value]="tag.name" [(ngModel)]="tag.checked">
                <label> {{tag.name}}</label><br>
            </p>


        </li>
        <li>

            <input (click)="addNew()" class="submit" type="submit" value="Submit">
        </li>
    </ul>

</div>



<div class="news-list">

    <div class="drop">
        <div class="drop__container" id="drop-items">
            <p>News list!</p>
                <ul>
                    <p class="" *ngFor="let new of news" routerLink="/news">
                        <li class="drop__card">
                            <span>Nombre: {{new.title}}</span> - <br>
                            <input class="input-list" type="text" *ngIf="new.editable" [(ngModel)]="new.title" /><br>
                            <span>Cuerpo: {{new.body}}</span> - <br>
                            <input class="input-list" type="text" *ngIf="new.editable" [(ngModel)]="new.body" /><br>
                            <span>Link: {{new.link}}</span> - <br>
                            <input class="input-list" type="text" *ngIf="new.editable" [(ngModel)]="new.link" /><br>
                            <span>Tags:</span>
                            <p class="" *ngFor="let tag of new.tag">
                                <label>- {{tag.name}}</label><br>
                                <input type="checkbox" *ngIf="new.editable" [(ngModel)]="tag.checked" /><br>
                            </p>

                            <button class="btn-delete" (click)="deleteNew(new._id)">Delete</button>
                            <button class="btn-delete" *ngIf="!new.editable" (click)="editState(new)">Update</button>
                            <button class="btn-delete" *ngIf="new.editable" (click)="updateNews(new)">OK</button>
                        </li>
                    </p>
                </ul>
        </div>
    </div>