<div class="background-container">
    <div class="overlay-container"></div>
    <div class="container">
        <div class="sub-container">
            <form class="login">
                <p class="title">Log in</p>
                <input [(ngModel)]="logUser.name" type="text" placeholder="Username" autofocus/>
                <!-- <i class="fa fa-user"></i> -->
                <input [(ngModel)]="logUser.password" type="password" placeholder="Contraseña" />
                <!-- <i class="fa fa-key"></i> -->
                <a href="#">¿Has olvidado tu contraseña?</a>
                <button routerLink="home-user" type="button" class="btn" >
                  <i class="spinner"></i>
                  <span class="state">Log in</span>
                </button>
              </form>
        </div>    
        <footer>¿No tienes una cuenta aún?<a class="register" target="blank" routerLink="register"> Regístrate</a></footer>
    </div>
</div>