<h1>Bienvenido a... </h1>

<div class="container">
    <div class="sub-container">
        <h2>Registrarse:</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="escribe un nombre de usuario">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="escribe una contraseña">
        </div>
        <div>
            <button type="button" class="btn btn-info">Registrarse</button>
        </div>
        
    </div>

    <div class="sub-container">
        <h2>Iniciar sesión:</h2>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="escribe tu nombre de usuario">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="escribe tu contraseña">
        </div>
        <div>
            <button type="button" class="btn btn-info">Entrar</button>
        </div>
        
    </div>
</div>