<div class="background-container">
  <div class="overlay-container"></div>
    <a routerLink="/landing">
      <i class='arrow-icon text-white bx bxs-left-arrow-alt'></i>
    </a>  
    <div class="container">
        <div class="sub-container">
            <form class="login">
                <p class="title">Inicio de sesión - User</p>
                <input [(ngModel)]="logUser.email" type="email" placeholder="* Email" name="email" autofocus [ngModelOptions]="{ standalone: true }"/>
                <input [(ngModel)]="logUser.password" type="password" placeholder="* Contraseña" name="password" [ngModelOptions]="{ standalone: true }" />
                <div class="error" *ngIf="errorMessage"><p>{{errorMessage}}</p></div> 
                <button type="button" class="password-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="setSuccessMessage()">
                  ¿Has olvidado tu contraseña?
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div *ngIf='!successSendMessage' class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Recupera tu contraseña</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p class="body-popup">Introduce tu correo electrónico</p>
                        <form>
                          <input [(ngModel)]="email" type="email" placeholder="Email" name="email">
                        </form>
                        <div class="error" *ngIf="forgotErrorMessage"><p>{{forgotErrorMessage}}</p></div> 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <div>
                          <button type="button" class="btn btn-send btn-warning" data-bs-toggle="modal" (click)="forgotPassword()">
                            Enviar
                          </button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf='successSendMessage' class="modal-content success">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{successSendMessage}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Comprueba tu bandeja de entrada</p>
                      </div>
                    </div>                    
                  </div>
                </div>
                <button (click)="login()" type="button" class="btn login-btn" >
                  <i class="spinner"></i>
                  <span class="state">Iniciar sesión</span>
                </button>
              </form>
        </div>    
      <footer>¿No tienes cuenta aún?<a class="register" routerLink="/register-user"> Regístrate</a></footer>
    </div>
</div>