<div class="background-container">
  <div class="overlay-container"></div>
    <a routerLink="/landing">
      <i class='arrow-icon text-white bx bxs-left-arrow-alt'></i>
    </a>  
    <div class="container">
        <div class="sub-container">
            <form class="login">
                <p class="title">Log in - User</p>
                <input [(ngModel)]="logUser.email" type="email" placeholder="* Email" name="email" autofocus [ngModelOptions]="{ standalone: true }"/>
                <input [(ngModel)]="logUser.password" type="password" placeholder="* Contraseña" name="password" [ngModelOptions]="{ standalone: true }" />
                <div class="error" *ngIf="errorMessage"><p>{{errorMessage}}</p></div> 
                <!-- <a href="#">¿Has olvidado tu contraseña?</a> -->
                <button (click)="login()" type="button" class="btn" >
                  <i class="spinner"></i>
                  <span class="state">Log in</span>
                </button>
              </form>
        </div>    
      <footer>¿No tienes cuenta aún?<a class="register" routerLink="/register-user"> Regístrate</a></footer>
    </div>
</div>