<div class="header">
    <div class="title">
        <h2>HermesDuck 🦆</h2>
    </div>
</div>

<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
    <div class="container shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <div class="sub-container">
            <form class="form">
                <div class="form-container1">
                    <p class="text">Escribe tu nueva contraseña:</p>
                    <input [(ngModel)]="password" type="password" placeholder="Contraseña" name="password">
                </div>
                <div class="form-container2">
                    <p class="text">Repite la contraseña:</p>       
                    <input [(ngModel)]="confirmPassword" type="password" placeholder="Contraseña" name="password">
                </div>

                <p class="success" *ngIf="successMessage">{{successMessage}}</p>
                <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
            </form>
            
            <div class="btn-container">
                <button (click)="recoverPassword()" class="btn text-gray-50 bg-yellow-500 hover:bg-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium"> Cambiar contraseña</button>
                <button routerLink="/landing" *ngIf="successMessage" class="btn text-gray-50 bg-yellow-500 hover:bg-white hover:text-yellow-500 px-3 py-2 rounded-md text-sm font-medium">Ir a inicio</button>
            </div>
        </div>  
    </div>
</div>