.header{
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
}

.title {
    background-color: #f1b21e;
    color: white;
}

h2 {
    padding: 25px;
    font-size: 35px;
}

.container {
    background-color: white;
    padding: 27px;
    width: 290px;
    margin-top: 200px;
    font-size: 18px;
}

.form-container1 {
    margin-bottom: 40px;
}

.form-container2 {
    margin-bottom: 18px;
}

.text {
    padding-bottom: 8px;
}

input {
    border: 1px solid rgb(163, 162, 162);
}

input:focus {
    outline-color: #f1b21e;
}

.btn {
    font-size: 18px;
    margin-top: 25px;
}

.btn:hover {
    border: 1px solid #f1b21e;
}

.success, .error {
    font-size: 12px;
    margin-bottom: 10px;
}

.success {
    color: rgb(126, 197, 19);
}

.error {
    color: red;
}

/* Responsive */

@media screen and (max-width:800px){

    .container {
        border-radius: 0.5rem;
        font-size: 18px;
        width: 300px;
    }
}

@media screen and (max-width:500px){

    .container {
        border-radius: 0.5rem;
        width: 80%;
    }

}


