/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.sub-container {
    border: solid 2px #0DCAF0;
    padding: 20px;
    border-radius: 10%;
    margin: 20px auto;
    width: 30%;
} */


