
<div class="container">   
    <div class="sub-container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Para acceder a tu cuenta haz click aquí:</label>
        </div>
        <div>
            <button routerLink="login" type="button" class="btn btn-info">Sign in</button>
        </div> 
    </div>
    <div class="sub-container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Si aún no tienes un usuario haz click aquí para registrarte:</label>
        </div>
        <div>
            <button routerLink="register" type="button" class="btn btn-info">Registrarse</button>
        </div> 
    </div>
</div>