/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body{
    font-family: sans-serif;
    background: #ff5f6d26;
    background: linear-gradient(to right, #ffc37199, #ff5f6d38);
}  

input{
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    padding: 0.5em 0.75em;
    margin: 2px;

}



