/* You can add global styles to this file, and also import other style files */

/*
body{
    font-family: sans-serif;
    background: #4CA1AF;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #C4E0E5, #4CA1AF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


input{
    border-radius: 0.25rem;
    border: 1px solid var(--border-color);
    padding: 0.5em 0.75em;
    margin: 2px;

}
