.menu{
    text-align: center;
}

.menu a{
    text-decoration: none !important;
    margin: 2.5px;
    text-transform: uppercase;
    font-size: 20px;
    color: gray;
}

nav{
    background: #ff81007a;
}